/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
}
/* COMMON */
.display-flex {
    display: flex;
}
i {
    margin-right: 3px;
}
.bigcontainer {
    width: 70%;
    margin: auto;
    max-width: 1200px;
}
.smallcontainer {
    width: 60%;
    max-width: 1200px;
    margin: auto;
}
hr {
    width:20%;
    margin-top:5rem;
}
/* HEADER */
header {
    width:100%;
    height: 10vh;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    z-index: 999;
}
.list-header {
    width: 40%;
    align-items: center;
}
#logo {
    align-items: flex-start;
    width: 20%;
    margin: 0 10px;
    cursor: pointer;
}
.list-header a {
    text-decoration: none;
    font-size: 1.2rem;
    margin: 10px;
}
.list-header a:not(.blue-button) {
    color:black;
}
.list-header li {
    list-style: none;
    margin: 0 5px;
}

.blue-button {
    background-color: rgb(53, 53, 250);
    padding: 7px;
    color: white;
}
.blue-button:hover {
    background-color: rgb(130, 138, 252);
}
.right-one {
justify-content: flex-end;
align-items: center;
margin-right: 10px;
}
/* BANNER */
#banner {
    width: 100%;
    padding-top: 10vh;
}
.backgroundblue {
    background-color: #b4d0e7;

}
#banner h1 {
    font-size: 5rem;
    padding: 4rem 0 2rem;
}

.banner-column {
    width: 30%;
    font-size: 1.4rem;
}
.banner-column a {
    text-decoration: none;
    margin: 4rem 0;
    display: inline-block;
}
.banner-column i {
    font-size: 3rem;
    padding: 2rem 0 2rem;
}
.banner-image {
    width: 70%;
    position: absolute;
    right: calc(0rem - 2rem);
    top: 0;
}
/* MAIN CONTENT */
.featured {
    position: relative;
}

.maincontent-top {
    width: 100%;
}
.column a:not(.blue-button) {
    color: #1d00c4;
    margin-left: 4px;
}
.column a:hover {
    color: blueviolet;
}
.column .blue-button {
    text-decoration: none;
}

.column li {
    list-style-type: none;
}
.column-top span {
    padding-left: 10px;
}
.radio-buttons label {
    margin-right: 20px;
}
.maincontent-top h2 {
    font-size: 3rem;
    padding: 10rem 0 4rem 0;
}
.maincontent-top {
    margin-bottom: 40px;
}
.column-header {
    border-bottom: 1px solid gray;
    text-align: center;
    padding: .7rem;
}
.column-header i {
    margin-right: 3px;
}
.column-top h3 {
    font-size: 2rem;
    padding-top: 30px;
}
.column-top h4 {
    font-size: 1.4rem;
}
.column-top h5 {
    color: gray;
    margin-bottom: 50px;
}
.column-top li {
    margin-top: 2rem;
}
.column-top, .column-bottom {
    padding: 0 30px;
}
.column-top .button {
    display: block;
    margin: 30px 0;
    text-align: center;
    top:50%;
}
.column-bottom h4 {
    margin-top: 30px;
}
.column-bottom {
    padding-bottom: 30px;
}
.column-bottom i {
    color:rgb(56, 56, 255);
}
.column-bottom li {
    margin-top: 2rem;

}
.maincontent-columns {
         justify-content: space-between;
}
.column {
    width: 30%;
    min-height: 100%;
    border: 1px solid gray;
    overflow: hidden;
    position: relative;
}
.maincontent-bottom {
    width: 100%;
    border: 1px solid gray;
    margin-top: 4rem;
}
.bottom-header {
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 5px;
}
.bottom-main {
    padding: 0 10px;
    align-items: center;
}
.bottom-text h3 {
    font-size: 1.8rem;
    padding-top: 20px;
}
.bottom-text h4 {
    font-size: 1.4rem;
    padding-top:20px;
}
.bottom-text p {
    padding: 20px 0 10px;
}
.bottom-button a {
    color:white;
    text-decoration: none;
}
/* INTRO */
.intro-picture {
    width: 60%;
}
.introduction {
    margin: 5rem 0;
}
.intro img {
    width:100%;
}
.intro-text {
    width: 40%;
    margin: 4rem;
}
.intro-text h2 {
    font-size: 1.8rem;
}
.intro-text p {
    font-size: 1.4rem;
    margin: 2rem 0 4rem;
}
.intro-text a {
    font-size: 1.4rem;
    border: 1px solid black;
    padding: 10px;
    color: black;
    text-decoration: none;
}
.intro-text a:hover {
    background-color: lightblue;
}
/* DETAILS */
.details-columns {
    flex-wrap: wrap;
    justify-content: space-between;
}
.details-title {
    /* width: 100%; */
    font-size: 2rem;
    text-align: center;
}
.details-column {
    width: 30%;
    margin: 2rem 0 2rem;
}
.details-column h3 {
    font-size: 1.6rem;
}
.details-column p {
    font-size: 1.2rem;
}
.details-footer {
    width: 70%;
    padding: 4rem 0;
}
.details-footer h2 {
    font-size: 2.5rem;
    margin: 2rem 0;
}
.details-footer a {
    color: blue;
    font-size: 1.4rem;
}
.details-footer a:hover {
    color: blueviolet;
}
/* SPONSOR */

.sponsor-top {
    justify-content:space-between;
    height: 40em;
    width: 100%;
    overflow:-hidden;
}
.sponsor-left, .sponsor-right {
    width: calc(100% / 3);
    flex-wrap: wrap;
    overflow: hidden;

}
.sponsor-center {
    width: calc(100% / 3);
    padding: 25px;
}
.sponsor-center img {
    scale: .9;
}
.sponsor-center p {
    padding: 3rem 0;
    font-size: 1.4rem;
}

.sponsor-block {
    width: 20em;
    min-width: 50%;
    height: 20em;

}
.advert img {
    scale: .5;
    position: relative;
    top: 50%;
    left: 0;
    transform: translate(0, -100%);
    filter:invert(100%); 
}
.first-one {
    background-color: #a2d39b;
    border: 15px solid #d1e9cd;
}

.second-one {
    background-color: #61082b;
}

.third-one {
    background-color: #0093ce;
}
.fourth-one {
    background-color: #ff1c1c;   
}
.fourth-one img {
    scale: .5;
    position: relative;
    top: 50%;
    left: 0;
    transform: translate(0, -100%);
    filter:invert(100%);
}
.fifth-one {
    background-color: #d5001f;
}
.sixth-one {
    background-color: #b4d0e7;
}
.seventh-one {
    background-color: #0d2481;
}
.eight-one {
    background-color: #ffd830;
}
.sponsor-bottom {
    width: 100%;
    background-color: #b4d0e7;
}
.wrapper-bottom {
    justify-content: space-between;
}
.credit-button a {
    background-color: white;
    padding: 10px;
}
.credit-text {
    font-size: 2rem;
    width: 50%;
    color: #61082b;
    padding: 3rem 0;
    line-height: 4rem;
}
.credit-button {
    width: 50%;
    padding: 30px;
    line-height: 4rem;
    font-size: 1.4rem;
}
.credit-button a {
    color: black;
    text-decoration: none;
}
.credit-button a:hover {
    background-color: lightblue;
}
/* QUESTIONS */
#questions {
    width: 100%;
    padding: 0 4rem 5rem ;
}
.questions h2 {
    font-size: 3rem;
    padding: 6rem 0 3rem;
    border-bottom: 1px solid gray;
}
.qanda {
    position:relative;
    width: 100%;
    font-size: 1.8rem;
    border-bottom: 1px solid gray;
    line-height: 8rem;

}

.chev1, .chev2 {
    position:absolute;
    top:0;
    right: 0;
    cursor: pointer;
}

/* FOOTER */
footer {
    width: 100%;
    background-color: black;
}
.footer-column {
    width: calc(100% / 5);
    margin: 50px 10px;
}
footer {
    color: white;
}
footer h4 {
    font-size: 2rem;
    padding: 2rem 0 1rem;
}
/* footer li {
    line-height: 2.5rem;
    font-size: 1.6rem;
} */
footer ul {
    list-style: none;
}

.footer-column a {
    text-decoration: none;
    line-height: 2.5rem;
    font-size: 1.6rem;
    color: inherit;
}
.languages {
    font-size: 1.4rem;
    line-height: 2rem;
    padding: 2rem 0 4rem;
    margin:auto;
}
.languages *:not(hr) {
    padding-top: 1rem;
    margin: 0 .5rem 0 .5rem;
}
.languages i {
    cursor: pointer;
}